$buttonA-color:#46139f;
$buttonB-color:#ff7f50;
$white-color  :#ffffff;

.buttonDiv {
    position         : absolute;
    left             : 50%;
    top              : 50%;
    -webkit-transform: translate(-50%, -50%);
    transform        : translate(-50%, -50%);
    display          : flex;
}

.buttonA {
    background-color: $buttonA-color;
    color           : $white-color;
    margin-right    : 10px;
}

.buttonB {
    background-color: $buttonB-color;
    color           : $white-color;
}

.buttonC {
    background-color: $white-color;
    border-color    : $buttonA-color;
}

.modal-footer {
    justify-content: flex-start !important;
}